@media (max-width: 900px) {

    .header-links a {
        display:none;
    }

    .lanches-content li {
        margin-bottom: 5px;
        height: 120px;
    }
    .lanches-content li h2 {
        font-size: 18px;
    }

    .logo {
        text-align:center;
        margin: 20px 0;
    }

    .logo p {
        display:block;
        color: var(--white-color);
    }

    .logo button {
        visibility: visible;
        color: white;
        text-decoration: none;
        font-weight: 700;
        font-size: 12px;
        border: 2px solid var(--yellow-color);
        padding: 10px 20px;
        margin-top: 20px;
    }

    .lanches h1 {
        font-size:20px;
    }

    .info li {
        margin: 20px 0;
    }

    .info li  p {
        font-size:11px;
    }

    .prices li {
        margin: 20px 0;
    }
    
    .footer-content {
        font-size: 10px;
    }

}